*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
/*  */
.container{
    background-color: white;
    padding: 30px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    
}
.btn{
    background-color: blue;
    color: white;
    height: 30px;
    width: 50px;
}
    
.blok{
   
   width: 25%;

   
}
.lista{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    
}
/* seconda parte  */
.contenitore{
    height: 500px;
    width: 100%;
    background-color: #b4d0e6;
    display: flex;
    justify-content: center;
}
   
main{
    margin-top: 100px;
}
.subcontenitore{
    width: 50%;
}
    
.img1{
    height: 400px;
    position: absolute;
    top:10px;
    }
       

.relative{
    position: relative;
    width: 40%;
    height: 400px;
}
.grandezza{
    width: 40%;
}
.subcontenitore2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
.btn2{
    background-color: blue;
    height: 30px;
    width: 200px;
    color: white;
    margin: 20px 0;

} 
.spazio{
    margin: 20px 0;
}
.freccia{
    font-size: 50px;
    
}
.fontsize{
    font-size: 50px;
    margin: 20px 0;
}
    /* terza parte */
.contenitore2{
    
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    margin: 100px auto 0px;
    
}

.radio{
    margin-right: 20px;
}

    
  
.subcontenitore3{
    width: 80%;
}
    
    
.contenitorepadre{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    
}
.intestazione{
    border: 1px solid rgb(135, 133, 133);
    text-align: center;
    padding: 5px 0;
}
.contenuto{
    padding: 20px;
}

.contenuto>h4{
    margin: 10px 0;
    font-size: 30px;

}
.contenuto>span{
    margin: 10px 0;
    font-size: 15px;
    font-weight: bold;
}
.crgrey{
    color: grey;
    margin: 10px 0;
}
.user{
    margin:20px 0
}

.fontsize1{
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
}      
        
.blu{
    color: blue;
}     
        

.figlio1{
    
    width: 30%;
    background-color: white;
    border: 1px solid rgb(135, 133, 133);
}
.figlio2{
    width: 30%;
    background-color: white;
    border: 1px solid  rgb(135, 133, 133);
}
.larghezzabottone{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    width: 30px;
    margin: 50px 0;
}
    
.lista2{
list-style-type: none;
}
.bgblue{
background-color: blue;
color: white;
width: 200px;
padding: 10px;

}
.colblue{
color: blue;
}
    
    
/* quarta parte */
.contenitore3{
    width: 80%;
    border: 1px solid  rgb(135, 133, 133);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 170px;
    
  
    
   
}


.subcontenitore3{
    width: 100%;
    /* border: 1px solid rgb(135, 133, 133); */
    position: relative;
    margin: 0 auto;
}
.bild{
    border: 1px solid rgb(135, 133, 133);
    /* width: 100%; */
    text-align: center;
    padding: 5px;
    
}
.end{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20px;
    right: 5px;
}
    
/* quinta parte  */
.contenitore4{
    width: 80%;
    
    
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 100px; */
    margin: 0 auto;
}
    
.subcontenitore4{
    width: 60%;
    margin-left: 50px;
    
    
}  
.subcontenitore5{
    width: 40%;
    margin-right: 80px;
    
    
}
.partner{
    width: 500px;
   
}  
.but{
    color: gray;
    background-color: white;
    width: 200px;
    height: 30px;
}
.carattere{
    font-size: 30px;
}
.carattere2{
    font-size: 15px;
}

/* sesta parte */
.contenitore6{
    width: 80%;
    margin: 100px auto;
}
.contenitore6>h3{
    text-align: center;
}
/* settimaparte */
.contenitore7{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
   
.subcontenitore7{
    width: 15%;
    margin: 80px 80px;
  
}
    
.business{
    width: 200px;
}
/* ottava parte */
.contenitore8{
    width: 60%;
    /* margin-left: 350px; */
    margin: 0 150px;
   
}
.sottocontenitore8{
    width: 60%;
    
    height: 300px;
    margin: 0 auto;
}
.carattere3{
    font-size: 60px;
    margin:50px 0;
    
}

/* footer */
.contenitore9{
    width: 100%;
    background-color: black;
    padding: 10px;
    
}
.sottocontenitore9{
    width: 60%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}
.bianco{
    width: 60%;
    color: white;
    margin: 0 auto;
}
.spazio1{
    margin-top: 10px;
}
.lista3{
    list-style-type: none;
    margin: 10px 0;
    line-height: 30px;
    
}



    
    
    




    
    

    
    
    
    
   
   
    
    
   
   
    
   
    
    
   
  
    
    

    
   
  
   
    
    
   
    

    
    
    
      
    
   
    
    
   

    

/* utility */
